.card {
    maxWidth: 400;
  },
  .mediatry {
    height: 0;
    paddingTop: 56.25%;
  },
  .actions {
    display: flex;
  },
  .expand {
    transform: rotate(0deg);
    transition: theme.transitions.create('transform',
      duration: theme.transitions.duration.shortest
    });
    marginLeft: auto;
  },
  .expandOpen {
    transform: rotate(180deg);
  },
  .avatar {
    backgroundColor: red[500];
  }